.chat-modal {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .chat-modal.bottom-right {
    right: 20px;
    bottom: 60px;
  }
  
  .chat-header {
    background-color: whitesmoke;
    color: white;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .chat-header h2 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .close-button {
    background: none;
    border: none;
    color: green;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .chat-body {
    flex-grow: 1;
    padding: 10px 15px;
    overflow-y: auto;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
  }
  
  .chat-footer {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #eeeeee;
  }
  
  .chat-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    height: 40px;
    margin-right: 10px;
  }
  
  .send-button {
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: #43a047;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
  }
  
  .send-button:hover {
    background-color: #388e3c;
  }
  
  .chat-message {
    margin-bottom: 12px;
    padding: 10px;
    border-radius: 6px;
    display: inline-block;
    max-width: 80%;
  }
  
  .chat-message.user {
    background-color: #e8f5e9;
    color: #2e7d32;
    align-self: flex-end;
    text-align: right;
  }
  
  .chat-message.ai {
    background-color: #e3f2fd;
    color: #1e88e5;
    align-self: flex-start;
    text-align: left;
  }
  